<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('showCuisines')}}">My Foodie Organizer</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('showLogin')}}">Sign in</a></li>
      <li><a href="{{url_for('showCuisines')}}">Cuisines</a></li>
			<li><a href="{{url_for('showRestaurants')}}">Restaurants</a></li>
      <li><a href="{{url_for('gdisconnect')}}">Sign out</a></li>
    </ul>
  </div>
</nav>
